@model IEnumerable<HavuzProjesi.Models.Slider>

@{
    Layout = null;
}

<div id="main-slider" class="flexslider align-center img-box img-responsiv">
    <ul class="slides">


        <li>
            <img src="~/Content/SiteLayout/img/WhatsApp Image 2020-09-04 at 17.50.54.jpeg" alt="Yüzme" />
            <div class="flex-control-paging">
                <h3><font size="5" color="red">DUYURULAR</font></h3>
                <p><font size="4" color="black"><b>1 Ekim Perşembe günü faaliyetlerimize başlıyoruz.</b></font></p>
                <a href="#"></a>
            </div>
        </li>
        <li>
            <img src="~/Content/SiteLayout/img/PSX_20200924_164042.jpg" alt="Yüzme" />
            <div class="flex-control-paging">
                <h3><font size="5" color="red">DUYURULAR</font></h3>
                <p><font size="4" color="black"><b>Yetişkinlere özel uzman eğiticiler ile kurslarımız başlıyor.</b></font></p>
                <a href="#"></a>
            </div>
        </li>
        <li>
            <img src="~/Content/SiteLayout/img/geert-pieters-3RnkZpDqsEI-unsplash.jpg" alt="Aerobik" />
            <div class="flex-control-paging">
                <h3><font size="5" color="red">DUYURULAR</font></h3>
                <p>
                    <font size="4" color="black">
                        <b>
                            Sadece bayanlara özel fitness,step,aerobik ve pilates eğitimimiz bayan hocalar eşliğinde faaliyete başlamıştır.
                        </b>
                    </font>
                </p>
                <a href="#"></a>
            </div>
        </li>
        <li>
            <img src="~/Content/SiteLayout/img/2017-05-29@11-21-30-571_sauna 3.jpg" alt="Sauna" />
            <div class="flex-control-paging">
                <h3><font size="5" color="red">DUYURULAR</font></h3>
                <p><font size="4" color="black"><b>Sauna hizmetimiz çok yakında..</b></font></p>
                <a href="#"></a>
            </div>
        </li>
        <li>
            <img src="~/Content/SiteLayout/img/camille-brodard-kmile-feminine-creative-designer-VxAwTeiqDao-unsplash.jpg" alt="Masaj" />
            <div class="flex-control-paging">
                <h3><font size="5" color="red">DUYURULAR</font></h3>
                <p><font size="4" color="black"><b>Masaj hizmetimiz çok yakında..</b></font></p>
                <a href="#"></a>
            </div>
        </li>
        <li>
            <img src="~/Content/SiteLayout/img/WhatsApp Image 2020-09-26 at 17.35.57.jpeg" alt="Fitness" />
            <div class="flex-control-paging">
                <h3><font size="5" color="red">DUYURULAR</font></h3>
                <p><font size="4" color="black"><b>Erkeklere özel uzman eğitmenlerle fitness eğitimimiz başlamıştır.</b></font></p>
                <a href="#"></a>
            </div>
        </li>



    </ul>
</div>

